profiles {

	docker {
		docker.enabled = true
		conda.enabled = false

		docker.temp = 'auto'
		docker.runOptions = '-u $(id -u):$(id -g)'

		process {
			withName: fastp {container = 'quay.io/biocontainers/fastp:0.20.1--h8b12597_0'}
			withName: lofreqVariant {container = 'ufuomababatunde/lofreq:v2.1.5'}
			withName: bamstats {container = 'wewantsaul/seqkit-pysam:latest'}
			withName: kraken {container = 'staphb/kraken2:2.1.2-no-db'}
			withName: fastqcRawPE {container = 'staphb/fastqc:0.12.1'}
			withName: minimap2PE {container = 'staphb/minimap2:2.28'}
			withName: nextclade {container = 'nextstrain/nextclade:3.18.0'}
			withName: sam2bam {container = 'ufuomababatunde/minimap2:v2.26-samtoolsv1.18'}
			withName: artic {container = 'staphb/artic:1.8.5'}
			withName: guppyplex {container = 'staphb/artic:1.8.5'}
		}
	}	
	
	conda {
		conda.enabled = true
		docker.enabled = false

		process {
			withName: fastp {conda = "${projectDir}/envs/fastp.yml"}
			withName: lofreqVariant {conda = "${projectDir}/envs/lofreq.yml"}
			withName: bamstats {conda = "${projectDir}/envs/seqkit_pysam.yml"}
			withName: kraken {conda = "${projectDir}/envs/kraken2.yml"}
			withName: fastqcRawPE {conda = "${projectDir}/envs/fastqc.yml"}
			withName: minimap2PE {conda = "${projectDir}/envs/minimap2.yml"}
			withName: nextclade {conda = "${projectDir}/envs/nextclade.yml"}
			withName: sam2bam {conda = "${projectDir}/envs/minimap2.yml"}
			withName: artic {conda = "${projectDir}/envs/artic.yml"}
			withName: guppyplex {conda = "${projectDir}/envs/artic.yml"}
		}

	}

}


process {
    echo = true   // see actual command executed
    debug = false // avoid super-noisy internal logs
}

log {
    level = 'INFO'  // keep warnings + info + progress
}




params {
    help            = false
    illuminaShotgun = null
    nanoporeArtic   = null
    thread          = 8
    fastpPhred      = 30
    krakenDb        = null
    bedFile         = "$baseDir/references/clade_iib.bed"
    refGenome       = "$baseDir/references/clade_iib.fasta"
    model           = "$baseDir/model"
    outDir          = "results"
    params.minLength = 200
    params.maxLength = 2600
    params.normalise = 400
    params.minReads = 100
}
