docker {
    enabled    = true
    temp       = 'auto'
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    echo = true   // see actual command executed
    debug = false // avoid super-noisy internal logs
}

log {
    level = 'INFO'  // keep warnings + info + progress
}

params {
    help            = false
    illuminaShotgun = null
    nanoporeArtic   = null
    thread          = 8
    fastpPhred      = 30
    krakenDb        = null
    bedFile         = "$baseDir/references/clade_iib.bed"
    refGenome       = "$baseDir/references/clade_iib.fasta"
    model           = "$baseDir/model"
    outDir          = "results"
    params.minLength = 200
    params.maxLength = 2600
    params.normalise = 400
    params.minReads = 100
}